<%= stylesheet_link_tag 'browser' %>

<span style="font-size:60%"><%= @folder %></span>
<h1>Arquivos</h1>
    <b><%= link_to image_tag("icons/folder.png") + "..", "/browser/?folder=#{File.dirname(@folder)}" %></b><br/>
<% for file in @files.sort %>
  <% if File.directory? file %>
    <b><%= link_to image_tag("icons/folder.png") + File.basename(file), "/browser/?folder=" +file %></b><br/>
  <% else %>
    <%= link_to image_tag("icons/file.png") + File.basename(file), "/editor/?file=" + file,:target => "editor" %><br/>
  <% end %>
<% end %>

<br/>
<hr/>
<form action="/browser/new_file">
  <input type="text" name="file_name" value="novo arquivo" style="width: 80px">
  <input type="submit" value="Ok">
</form>
<form action="/browser/new_folder">
  <input type="text" name="folder_name" value="nova pasta" style="width: 80px">
  <input type="submit" value="Ok">
</form>
Enviar Arquivo<br/>

